<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marketplace</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <div class="wrap nav">
      <a class="brand-title" href="{{ url_for('home') }}" >Marketplace</a>
      <nav class="navbar navbar-inner">
        <a class="nav-btns" href="{{ url_for('home') }}">Home</a>
        {% if current_user_id %}
          <a class="nav-btns" href="{{ url_for('create_listing') }}">Create Listing</a>
          <a class="nav-btns" href="{{ url_for('my_listings') }}">My Listings</a>
          <a class="nav-btns" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a class="nav-btns" href="{{ url_for('login') }}">Login</a>
          <a class="nav-btns" href="{{ url_for('register') }}">Register</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="wrap">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-box">
          {% for message in messages %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>
